*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.card{
    padding: 5px 5px;
    display: inline-block;
    margin: auto;
    box-shadow: 3px 5px 6px -2px #000,-6px -7px 6px -2px #ecdede;
    width: 320px;
}

.card img{
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.card h1{
    margin: 20px 0px;
}

.card p{
    margin-bottom: 20px;
}