*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.card{
    border: 19px solid #000;
    height: 250px;
    width: 250px;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-gap: 0;
    padding: 0;
    margin: auto;
}

.row{
    display: flex;
}

.square{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row:nth-child(2n) .square:nth-child(2n){ 
    background: #000;
}

.row:nth-child(2n+1) .square:nth-child(2n+1) {
    background: #000;
}